<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="hr.foi.techtitans.ttpay" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ttpay_logo_app"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TTPay"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >

        <activity
            android:name=".catalogItemManagement.activity_catalogItemManagement.UpdateCatalogActivity"
            android:exported="false" />
        <activity
            android:name=".products.activity_products.CreateServiceActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".login_modular.activity_login.LoginUsernamePassword"
            android:exported="false" />
        <activity
            android:name=".transactions.activity_transactions.DetailedTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".transactions.activity_transactions.TransactionItemActivity"
            android:exported="false" />
        <activity
            android:name=".catalogItemManagement.activity_catalogItemManagement.CatalogItemWithoutUserActivity"
            android:exported="false" />
        <activity
            android:name=".catalogItemManagement.activity_catalogItemManagement.DetailedCatalogItemActivity"
            android:exported="false" />
        <activity
            android:name=".transactions.activity_transactions.TransactionCompletionActivity"
            android:exported="false" />
        <activity
            android:name=".transactions.activity_transactions.PaymentOptionsActivity"
            android:exported="false" />
        <activity
            android:name=".transactions.activity_transactions.TransactionSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".transactions.activity_transactions.CreateTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".catalogItemManagement.activity_catalogItemManagement.AllCatalogsMerchantActivity"
            android:exported="false" />
        <activity
            android:name=".transactions.activity_transactions.AllTransactionsMerchantActivity"
            android:exported="false" />
        <activity
            android:name=".navigationBar.activity_navigationBar.MerchantHomeActivity"
            android:exported="false" />
        <activity
            android:name=".catalogItemManagement.createCatalog.activity_createCatalog.CreateCatalogDataActivity"
            android:exported="false" />
        <activity
            android:name=".catalogItemManagement.createCatalog.activity_createCatalog.SelectUserActivity"
            android:exported="false" />
        <activity
            android:name=".catalogItemManagement.createCatalog.activity_createCatalog.SelectArticlesActivity"
            android:exported="false" />
        <activity
            android:name=".catalogItemManagement.createCatalog.activity_createCatalog.SelectServicesActivity"
            android:exported="false" />
        <activity
            android:name=".catalogItemManagement.createCatalog.activity_createCatalog.CreateCatalogItemActivity"
            android:exported="false" />
        <activity
            android:name=".catalogItemManagement.activity_catalogItemManagement.CatalogItemActivity"
            android:exported="false" />
        <activity
            android:name=".catalogItemManagement.activity_catalogItemManagement.AllCatalogsActivity"
            android:exported="false" />
        <activity
            android:name=".transactions.activity_transactions.AllTransactionsActivity"
            android:exported="false" />
        <activity
            android:name=".products.activity_products.UpdateServiceActivity"
            android:exported="false" />
        <activity
            android:name=".products.activity_products.DetailsServiceActivity"
            android:exported="false" />
        <activity
            android:name=".products.activity_products.UpdateArticleActivity"
            android:exported="false" />
        <activity
            android:name=".products.activity_products.DetailsArticleActivity"
            android:exported="false" />
        <activity
            android:name=".accountManagement.activity_accountManagement.UpdateMerchantActivity"
            android:exported="false" />
        <activity
            android:name=".accountManagement.activity_accountManagement.DetailsMerchantActivity"
            android:exported="false" />
        <activity
            android:name=".products.activity_products.CreateArticleActivity"
            android:exported="false" />
        <activity
            android:name=".products.activity_products.AllProductsActivity"
            android:exported="false" />
        <activity
            android:name=".accountManagement.activity_accountManagement.CreateNewMerchantActivity"
            android:exported="false" />
        <activity
            android:name=".accountManagement.activity_accountManagement.AllMerchantsActivity"
            android:exported="false" />
        <activity
            android:name=".navigationBar.activity_navigationBar.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".navigationBar.activity_navigationBar.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".navigationBar.activity_navigationBar.AdminHomeActivity"
            android:exported="false" />
        <activity
            android:name=".navigationBar.activity_navigationBar.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>